@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Exo+2:500,700&display=swap);
@font-face {
  font-family: Marvin;
  font-display: swap;
  src: url(../fonts/Marvin-Round.woff2) format("woff2"),url(../fonts/Marvin-Round.woff) format("woff");
  font-weight: 500;
  font-style: normal
}
@font-face {
  font-family: Marvin;
  font-display: swap;
  src: url(../fonts/Marvin-Shadow.woff2) format("woff2"),url(../fonts/Marvin-Shadow.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
@font-face {
  font-family: Marvin;
  font-display: swap;
  src: url(../fonts/Marvin.woff2) format("woff2"),url(../fonts/Marvin.woff) format("woff");
  font-weight: 400;
  font-style: normal
}
* {
  padding: 0;
  margin: 0;
  border: 0
}
*,
*::after,
*::before {
  box-sizing: border-box
}
*::after,
*::before {
  display: inline-block
}
body,
html {
  height: 100%;
  min-width: 320px
}
body {
  color: #0f458a;
  line-height: 1;
  font-family: "Exo 2";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}
button,
input,
textarea {
  font-family: "Exo 2";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent
}
input,
textarea {
  width: 100%
}
button,
option,
select {
  cursor: pointer
}
a {
  display: inline-block;
  color: inherit;
  text-decoration: none
}
ul li {
  list-style: none
}
img {
  vertical-align: top
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit
}
body {
  scrollbar-width: thin;
  scrollbar-color: #000
}
::-webkit-scrollbar {
  width: 6px
}
::-webkit-scrollbar-thumb {
  background-color: #000;
  border-radius: 6px
}
::-webkit-scrollbar-track {
  background-color: rgba(201,244,255,.79)
}
.lock body {
  overflow: hidden;
  touch-action: none;
  -ms-scroll-chaining: none;
  overscroll-behavior: none
}
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden
}
@supports (overflow:clip) {
  .wrapper {
    overflow: clip
  }
}
.wrapper > main {
  flex: 1 1 auto
}
.wrapper > * {
  min-width: 0
}
.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover
}
.ibg--top {
  -o-object-position: top;
  object-position: top
}
.ibg--bottom {
  -o-object-position: bottom;
  object-position: bottom
}
.ibg--left {
  -o-object-position: left;
  object-position: left
}
.ibg--right {
  -o-object-position: right;
  object-position: right
}
.ibg--contain {
  -o-object-fit: contain;
  object-fit: contain
}
.page {
  display: flex
}
.main {
  flex: 1;
  position: relative;
  overflow: hidden;
  background: linear-gradient(180deg,#0d4f99,#2e83b8 29%,#43b5de 54.5%,#c9f4ff 79%,#fff 100%),#fff
}
.main img {
  max-width: 100%;
  height: auto
}
.main__cloud {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0
}
.main__body {
  position: relative;
  z-index: 4;
  display: grid;
  align-items: flex-end;
  grid-template-columns: 1fr auto 1fr;
  height: 100%
}
.main__card {
  position: relative;
  grid-column: 2/3;
  padding-left: .9375rem;
  padding-right: .9375rem
}
.main__baby {
  position: absolute
}
.main__baby.baby-01 {
  grid-column: 1/2
}
.main__baby.baby-02 {
  grid-column: 3/4
}
.main__baby-01,
.main__baby-02 {
  max-width: unset!important
}
.main__cloud-front {
  position: absolute;
  bottom: 0
}
.cloud img {
  position: absolute
}
.cloud__cloud-top {
  z-index: 1
}
.cloud__cloud-top--03 {
  top: 10%;
  right: 0
}
.cloud__star {
  z-index: 2
}
.cloud__cloud-bottom {
  bottom: 0
}
.cloud__sun {
  z-index: 3
}
.card {
  position: relative;
  z-index: 10;
  width: 100%
}
.card__head {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center
}
.card__logo {
  position: relative;
  z-index: 2
}
.card__cloud {
  position: absolute;
  bottom: -16%;
  z-index: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%
}
.card__title {
  position: relative;
  z-index: 2;
  color: #fff;
  text-align: center;
  font-family: Marvin;
  font-weight: 500;
  line-height: normal;
  padding-bottom: .3125rem
}
.card__main {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0 6px 40px 0 rgba(67,164,205,.6)
}
.card__main .card-txt {
  font-weight: 500;
  line-height: 1.2222222222;
  margin-bottom: .625rem
}
.card__subtitle {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: .625rem
}
.card__li {
  padding-left: 1.5625rem;
  position: relative
}
.card__li::before {
  content: "💙";
  position: absolute;
  top: .1875rem;
  left: 0;
  width: .5625rem;
  height: .5625rem
}
.card__li:not(:last-child) {
  margin-bottom: .5rem
}
.card__li-txt {
  font-weight: 500;
  line-height: 1.2222222222
}
.card__link {
  position: absolute;
  bottom: 0;
  -webkit-transform: translateY(50%);
  transform: translateY(50%);
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease,-webkit-transform .3s ease;
  border-radius: 3.75rem;
  box-shadow: 0 6px 10px 0 rgba(60,207,255,.3);
  background: linear-gradient(180deg,#3273d5,#2273d1 100%);
  width: 18.625rem;
  height: 4.375rem;
  text-align: center;
  font-family: Marvin;
  font-weight: 500;
  line-height: normal;
  font-size: 1.25rem;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1
}
.card__link img {
  position: absolute;
  top: 0;
  left: 0
}
.card__link span {
  position: relative;
  z-index: 3
}
@media (min-width:30.06125em) {
  .main__card {
    padding-bottom: 8.125rem
  }
  .main__baby.baby-01 {
    bottom: 2.1875rem
  }
  .main__baby.baby-02 {
    bottom: 3.375rem
  }
  .main__cloud-front {
    width: 100%
  }
  .cloud__cloud-top--01 {
    top: -15%
  }
  .cloud__cloud-bottom {
    width: 100%
  }
}
@media (min-width:48.06125em) {
  .main__baby-think {
    position: absolute;
    top: 11%;
    right: 11%
  }
  .cloud__cloud-top--02 {
    top: 50%;
    left: 0;
    -webkit-transform: translate(-41%,-50%);
    transform: translate(-41%,-50%);
    width: 23rem
  }
  .cloud__star--01 {
    top: 35%;
    left: 7%
  }
  .cloud__star--02 {
    top: 42%;
    left: 12%
  }
  .cloud__star--03 {
    top: 9%;
    left: 32%
  }
}
@media (min-width:90.06125em) {
  .cloud__star--04 {
    top: 8%;
    right: 13%
  }
}
@media (min-width:48em) {
  .main__card {
    padding-top: 1.875rem
  }
  .cloud__cloud-top--01 {
    width: 40.875rem
  }
  .cloud__cloud-top--03 {
    width: 36.375rem
  }
  .cloud__star--03 {
    width: 2rem
  }
  .cloud__sun {
    width: 14.9375rem
  }
  .card__head {
    margin-bottom: 4.5rem
  }
  .card__logo {
    margin-bottom: 1rem
  }
  .card__main {
    padding-bottom: 4.6875rem
  }
  .card__main {
    border-radius: 3.125rem
  }
}
@media (min-width:120em) {
  .main__baby.baby-01 {
    right: -6.25rem
  }
  .main__baby.baby-02 {
    left: 1.3125rem
  }
  .main__baby-01 {
    width: 33.3125rem
  }
  .main__baby-02 {
    width: 31.1875rem
  }
  .main__baby-think {
    width: 8.75rem
  }
  .cloud__cloud-top--01 {
    left: -7.875rem
  }
  .cloud__cloud-top--03 {
    right: -14.6875rem
  }
  .cloud__star--01 {
    width: 1.875rem
  }
  .cloud__sun {
    top: 2.1875rem
  }
  .cloud__sun {
    right: 21.75rem
  }
  .card {
    min-width: 39.375rem
  }
  .card__logo {
    width: 14.75rem
  }
  .card__cloud {
    max-width: 39.375rem
  }
  .card__title {
    max-width: 29.4375rem
  }
  .card__title {
    font-size: 1.75rem
  }
  .card__main {
    max-width: 37rem
  }
  .card__main {
    margin-top: -6.8125rem
  }
  .card__main {
    padding-top: 6.4375rem
  }
  .card__main {
    padding-left: 4.375rem
  }
  .card__main {
    padding-right: 4.375rem
  }
  .card__main .card-txt {
    font-size: 1.125rem
  }
  .card__subtitle {
    font-size: 1.875rem
  }
  .card__li-txt {
    font-size: 1.125rem
  }
}
@media (max-width:90em) {
  .main__baby-think {
    width: 6.25rem
  }
}
@media (max-width:30em) {
  .main__card {
    padding-top: 5.625rem
  }
  .main__baby-01 {
    width: 16.6875rem
  }
  .main__baby-02 {
    width: 15.875rem
  }
  .cloud__cloud-top--01 {
    left: -12.8125rem
  }
  .cloud__cloud-top--01 {
    width: 25.0625rem
  }
  .cloud__cloud-top--03 {
    right: -16.5625rem
  }
  .cloud__cloud-top--03 {
    width: 27.6875rem
  }
  .cloud__star--01 {
    width: 1.25rem
  }
  .cloud__star--03 {
    width: 1.625rem
  }
  .cloud__sun {
    top: 2rem
  }
  .cloud__sun {
    right: .9375rem
  }
  .cloud__sun {
    width: 7.75rem
  }
  .card__head {
    margin-bottom: 3.125rem
  }
  .card__logo {
    width: 8.25rem
  }
  .card__logo {
    margin-bottom: .5625rem
  }
  .card__cloud {
    max-width: 21.875rem
  }
  .card__title {
    max-width: 16.375rem
  }
  .card__title {
    font-size: 1rem
  }
  .card__main {
    margin-top: -5.4375rem
  }
  .card__main {
    padding-top: 5rem
  }
  .card__main {
    padding-left: 1.625rem
  }
  .card__main {
    padding-right: 1.625rem
  }
  .card__main {
    padding-bottom: 3.8125rem
  }
  .card__main {
    border-radius: 2.125rem
  }
  .card__main .card-txt {
    font-size: 1.125rem
  }
  .card__subtitle {
    font-size: 1.5rem
  }
  .card__li-txt {
    font-size: 1.125rem
  }
}
@media (max-width:20em) {
  .card {
    min-width: 17.8125rem
  }
  .card__main {
    max-width: 21.875rem
  }
}
@media (max-width:90.06125em) {
  .cloud__star--04 {
    display: none
  }
}
@media (max-width:48.06125em) {
  .main__baby.baby-01 {
    right: -5.6875rem
  }
  .main__baby.baby-02 {
    left: -1.4375rem
  }
  .main__baby-think {
    display: none
  }
  .cloud__cloud-top--02 {
    display: none
  }
  .cloud__star--02 {
    display: none
  }
}
@media (max-width:30.06125em) {
  .main__card {
    padding-bottom: 13.3125rem
  }
  .main__baby.baby-01 {
    bottom: -10%;
    right: -12.5rem!important
  }
  .main__baby.baby-02 {
    bottom: -8%;
    left: -10.5rem!important
  }
  .main__cloud-front {
    z-index: -1;
    width: 290%;
    max-width: unset!important
  }
  .cloud__cloud-top--01 {
    top: -4%
  }
  .cloud__star--01 {
    top: 9%;
    left: 17%
  }
  .cloud__star--03 {
    top: 5%;
    left: 9%
  }
  .cloud__cloud-bottom {
    width: 290%;
    max-width: unset!important
  }
  .card__link {
    left: 50%;
    -webkit-transform: translate(-50%,50%);
    transform: translate(-50%,50%)
  }
}
@media (max-width:23.125em) {
  .card__link {
    width: 17.5rem
  }
}
@media (min-width:30em) and (max-width:48em) {
  @supports (padding-top:clamp(1.875rem ,11.875rem + -20.8333333333vw ,5.625rem)) {
    .main__card {
      padding-top: clamp(1.875rem ,11.875rem + -20.8333333333vw ,5.625rem)
    }
  }
  @supports not (padding-top:clamp(1.875rem ,11.875rem + -20.8333333333vw ,5.625rem)) {
    .main__card {
      padding-top: calc(5.625rem + -3.75 * (100vw - 30rem)/ 18)
    }
  }
  @supports (width:clamp(25.0625rem ,-1.2916666667rem + 87.8472222222vw ,40.875rem)) {
    .cloud__cloud-top--01 {
      width: clamp(25.0625rem ,-1.2916666667rem + 87.8472222222vw ,40.875rem)
    }
  }
  @supports not (width:clamp(25.0625rem ,-1.2916666667rem + 87.8472222222vw ,40.875rem)) {
    .cloud__cloud-top--01 {
      width: calc(25.0625rem + 15.8125 * (100vw - 30rem)/ 18)
    }
  }
  @supports (width:clamp(27.6875rem ,13.2083333333rem + 48.2638888889vw ,36.375rem)) {
    .cloud__cloud-top--03 {
      width: clamp(27.6875rem ,13.2083333333rem + 48.2638888889vw ,36.375rem)
    }
  }
  @supports not (width:clamp(27.6875rem ,13.2083333333rem + 48.2638888889vw ,36.375rem)) {
    .cloud__cloud-top--03 {
      width: calc(27.6875rem + 8.6875 * (100vw - 30rem)/ 18)
    }
  }
  @supports (width:clamp(1.625rem ,1rem + 2.0833333333vw ,2rem)) {
    .cloud__star--03 {
      width: clamp(1.625rem ,1rem + 2.0833333333vw ,2rem)
    }
  }
  @supports not (width:clamp(1.625rem ,1rem + 2.0833333333vw ,2rem)) {
    .cloud__star--03 {
      width: calc(1.625rem + .375 * (100vw - 30rem)/ 18)
    }
  }
  @supports (width:clamp(7.75rem ,-4.2291666667rem + 39.9305555556vw ,14.9375rem)) {
    .cloud__sun {
      width: clamp(7.75rem ,-4.2291666667rem + 39.9305555556vw ,14.9375rem)
    }
  }
  @supports not (width:clamp(7.75rem ,-4.2291666667rem + 39.9305555556vw ,14.9375rem)) {
    .cloud__sun {
      width: calc(7.75rem + 7.1875 * (100vw - 30rem)/ 18)
    }
  }
  @supports (margin-bottom:clamp(3.125rem ,0.8333333333rem + 7.6388888889vw ,4.5rem)) {
    .card__head {
      margin-bottom: clamp(3.125rem ,.8333333333rem + 7.6388888889vw ,4.5rem)
    }
  }
  @supports not (margin-bottom:clamp(3.125rem ,0.8333333333rem + 7.6388888889vw ,4.5rem)) {
    .card__head {
      margin-bottom: calc(3.125rem + 1.375 * (100vw - 30rem)/ 18)
    }
  }
  @supports (margin-bottom:clamp(0.5625rem ,-0.1666666667rem + 2.4305555556vw ,1rem)) {
    .card__logo {
      margin-bottom: clamp(.5625rem ,-.1666666667rem + 2.4305555556vw ,1rem)
    }
  }
  @supports not (margin-bottom:clamp(0.5625rem ,-0.1666666667rem + 2.4305555556vw ,1rem)) {
    .card__logo {
      margin-bottom: calc(.5625rem + .4375 * (100vw - 30rem)/ 18)
    }
  }
  @supports (padding-bottom:clamp(3.8125rem ,2.3541666667rem + 4.8611111111vw ,4.6875rem)) {
    .card__main {
      padding-bottom: clamp(3.8125rem ,2.3541666667rem + 4.8611111111vw ,4.6875rem)
    }
  }
  @supports not (padding-bottom:clamp(3.8125rem ,2.3541666667rem + 4.8611111111vw ,4.6875rem)) {
    .card__main {
      padding-bottom: calc(3.8125rem + .875 * (100vw - 30rem)/ 18)
    }
  }
  @supports (border-radius:clamp(2.125rem ,0.4583333333rem + 5.5555555556vw ,3.125rem)) {
    .card__main {
      border-radius: clamp(2.125rem ,.4583333333rem + 5.5555555556vw ,3.125rem)
    }
  }
  @supports not (border-radius:clamp(2.125rem ,0.4583333333rem + 5.5555555556vw ,3.125rem)) {
    .card__main {
      border-radius: calc(2.125rem + 1 * (100vw - 30rem)/ 18)
    }
  }
}
@media (min-width:48.06125em) and (max-width:120em) {
  @supports (right:clamp(-6.25rem ,-5.3117017949rem + -0.7819151709vw ,-5.6875rem)) {
    .main__baby.baby-01 {
      right: clamp(-6.25rem ,-5.3117017949rem + -.7819151709vw ,-5.6875rem)
    }
  }
  @supports not (right:clamp(-6.25rem ,-5.3117017949rem + -0.7819151709vw ,-5.6875rem)) {
    .main__baby.baby-01 {
      right: calc(-5.6875rem + -.5625 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (left:clamp(-1.4375rem ,-3.2747356692rem + 3.822696391vw ,1.3125rem)) {
    .main__baby.baby-02 {
      left: clamp(-1.4375rem ,-3.2747356692rem + 3.822696391vw ,1.3125rem)
    }
  }
  @supports not (left:clamp(-1.4375rem ,-3.2747356692rem + 3.822696391vw ,1.3125rem)) {
    .main__baby.baby-02 {
      left: calc(-1.4375rem + 2.75 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (left:clamp(-26.875rem ,-39.5686282602rem + 26.4113568835vw ,-7.875rem)) {
    .cloud__cloud-top--01 {
      left: clamp(-26.875rem ,-39.5686282602rem + 26.4113568835vw ,-7.875rem)
    }
  }
  @supports not (left:clamp(-26.875rem ,-39.5686282602rem + 26.4113568835vw ,-7.875rem)) {
    .cloud__cloud-top--01 {
      left: calc(-26.875rem + 19 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (right:clamp(-26.875rem ,-35.0172944432rem + 16.9414953693vw ,-14.6875rem)) {
    .cloud__cloud-top--03 {
      right: clamp(-26.875rem ,-35.0172944432rem + 16.9414953693vw ,-14.6875rem)
    }
  }
  @supports not (right:clamp(-26.875rem ,-35.0172944432rem + 16.9414953693vw ,-14.6875rem)) {
    .cloud__cloud-top--03 {
      right: calc(-26.875rem + 12.1875 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (width:clamp(1.5625rem ,1.3537232194rem + 0.4343973172vw ,1.875rem)) {
    .cloud__star--01 {
      width: clamp(1.5625rem ,1.3537232194rem + .4343973172vw ,1.875rem)
    }
  }
  @supports not (width:clamp(1.5625rem ,1.3537232194rem + 0.4343973172vw ,1.875rem)) {
    .cloud__star--01 {
      width: calc(1.5625rem + .3125 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (top:clamp(-1.875rem ,-4.5890981477rem + 5.6471651231vw ,2.1875rem)) {
    .cloud__sun {
      top: clamp(-1.875rem ,-4.5890981477rem + 5.6471651231vw ,2.1875rem)
    }
  }
  @supports not (top:clamp(-1.875rem ,-4.5890981477rem + 5.6471651231vw ,2.1875rem)) {
    .cloud__sun {
      top: calc(-1.875rem + 4.0625 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (right:clamp(1.5625rem ,-11.9244800264rem + 28.0620666887vw ,21.75rem)) {
    .cloud__sun {
      right: clamp(1.5625rem ,-11.9244800264rem + 28.0620666887vw ,21.75rem)
    }
  }
  @supports not (right:clamp(1.5625rem ,-11.9244800264rem + 28.0620666887vw ,21.75rem)) {
    .cloud__sun {
      right: calc(1.5625rem + 20.1875 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (padding-left:clamp(2.5rem ,1.2473393164rem + 2.606383903vw ,4.375rem)) {
    .card__main {
      padding-left: clamp(2.5rem ,1.2473393164rem + 2.606383903vw ,4.375rem)
    }
  }
  @supports not (padding-left:clamp(2.5rem ,1.2473393164rem + 2.606383903vw ,4.375rem)) {
    .card__main {
      padding-left: calc(2.5rem + 1.875 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
  @supports (padding-right:clamp(2.5rem ,1.2473393164rem + 2.606383903vw ,4.375rem)) {
    .card__main {
      padding-right: clamp(2.5rem ,1.2473393164rem + 2.606383903vw ,4.375rem)
    }
  }
  @supports not (padding-right:clamp(2.5rem ,1.2473393164rem + 2.606383903vw ,4.375rem)) {
    .card__main {
      padding-right: calc(2.5rem + 1.875 * (100vw - 48.06125rem)/ 71.93875)
    }
  }
}
@media (min-width:90.06125em) and (max-width:120em) {
  @supports (width:clamp(24.9375rem ,-0.2560357605rem + 27.9737798004vw ,33.3125rem)) {
    .main__baby-01 {
      width: clamp(24.9375rem ,-.2560357605rem + 27.9737798004vw ,33.3125rem)
    }
  }
  @supports not (width:clamp(24.9375rem ,-0.2560357605rem + 27.9737798004vw ,33.3125rem)) {
    .main__baby-01 {
      width: calc(24.9375rem + 8.375 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (width:clamp(23.125rem ,-1.128478456rem + 26.9299820467vw ,31.1875rem)) {
    .main__baby-02 {
      width: clamp(23.125rem ,-1.128478456rem + 26.9299820467vw ,31.1875rem)
    }
  }
  @supports not (width:clamp(23.125rem ,-1.128478456rem + 26.9299820467vw ,31.1875rem)) {
    .main__baby-02 {
      width: calc(23.125rem + 8.0625 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (min-width:clamp(29.5rem ,-0.2058108221rem + 32.9840090184vw ,39.375rem)) {
    .card {
      min-width: clamp(29.5rem ,-.2058108221rem + 32.9840090184vw ,39.375rem)
    }
  }
  @supports not (min-width:clamp(29.5rem ,-0.2058108221rem + 32.9840090184vw ,39.375rem)) {
    .card {
      min-width: calc(29.5rem + 9.875 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (width:clamp(11.0625rem ,-0.0301761931rem + 12.3168134942vw ,14.75rem)) {
    .card__logo {
      width: clamp(11.0625rem ,-.0301761931rem + 12.3168134942vw ,14.75rem)
    }
  }
  @supports not (width:clamp(11.0625rem ,-0.0301761931rem + 12.3168134942vw ,14.75rem)) {
    .card__logo {
      width: calc(11.0625rem + 3.6875 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (max-width:clamp(29.5rem ,-0.2058108221rem + 32.9840090184vw ,39.375rem)) {
    .card__cloud {
      max-width: clamp(29.5rem ,-.2058108221rem + 32.9840090184vw ,39.375rem)
    }
  }
  @supports not (max-width:clamp(29.5rem ,-0.2058108221rem + 32.9840090184vw ,39.375rem)) {
    .card__cloud {
      max-width: calc(29.5rem + 9.875 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (max-width:clamp(22.0625rem ,-0.1228523861rem + 24.6336269884vw ,29.4375rem)) {
    .card__title {
      max-width: clamp(22.0625rem ,-.1228523861rem + 24.6336269884vw ,29.4375rem)
    }
  }
  @supports not (max-width:clamp(22.0625rem ,-0.1228523861rem + 24.6336269884vw ,29.4375rem)) {
    .card__title {
      max-width: calc(22.0625rem + 7.375 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (font-size:clamp(1.3125rem ,-0.0035802263rem + 1.4613168552vw ,1.75rem)) {
    .card__title {
      font-size: clamp(1.3125rem ,-.0035802263rem + 1.4613168552vw ,1.75rem)
    }
  }
  @supports not (font-size:clamp(1.3125rem ,-0.0035802263rem + 1.4613168552vw ,1.75rem)) {
    .card__title {
      font-size: calc(1.3125rem + .4375 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (max-width:clamp(27.75rem ,-0.0756962131rem + 30.8964135109vw ,37rem)) {
    .card__main {
      max-width: clamp(27.75rem ,-.0756962131rem + 30.8964135109vw ,37rem)
    }
  }
  @supports not (max-width:clamp(27.75rem ,-0.0756962131rem + 30.8964135109vw ,37rem)) {
    .card__main {
      max-width: calc(27.75rem + 9.25 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (margin-top:clamp(-6.8125rem ,-2.3032937038rem + -3.7576719135vw ,-5.6875rem)) {
    .card__main {
      margin-top: clamp(-6.8125rem ,-2.3032937038rem + -3.7576719135vw ,-5.6875rem)
    }
  }
  @supports not (margin-top:clamp(-6.8125rem ,-2.3032937038rem + -3.7576719135vw ,-5.6875rem)) {
    .card__main {
      margin-top: calc(-5.6875rem + -1.125 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (padding-top:clamp(3.5625rem ,-5.0860272014rem + 9.6029393345vw ,6.4375rem)) {
    .card__main {
      padding-top: clamp(3.5625rem ,-5.0860272014rem + 9.6029393345vw ,6.4375rem)
    }
  }
  @supports not (padding-top:clamp(3.5625rem ,-5.0860272014rem + 9.6029393345vw ,6.4375rem)) {
    .card__main {
      padding-top: calc(3.5625rem + 2.875 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.1229541564rem + 0.835038203vw ,1.125rem)) {
    .card__main .card-txt {
      font-size: clamp(.875rem ,.1229541564rem + .835038203vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.1229541564rem + 0.835038203vw ,1.125rem)) {
    .card__main .card-txt {
      font-size: calc(.875rem + .25 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (font-size:clamp(1.375rem ,-0.1290916872rem + 1.670076406vw ,1.875rem)) {
    .card__subtitle {
      font-size: clamp(1.375rem ,-.1290916872rem + 1.670076406vw ,1.875rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,-0.1290916872rem + 1.670076406vw ,1.875rem)) {
    .card__subtitle {
      font-size: calc(1.375rem + .5 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
  @supports (font-size:clamp(0.875rem ,0.1229541564rem + 0.835038203vw ,1.125rem)) {
    .card__li-txt {
      font-size: clamp(.875rem ,.1229541564rem + .835038203vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,0.1229541564rem + 0.835038203vw ,1.125rem)) {
    .card__li-txt {
      font-size: calc(.875rem + .25 * (100vw - 90.06125rem)/ 29.93875)
    }
  }
}
@media (min-width:30em) and (max-width:90.06125em) {
  @supports (width:clamp(16.6875rem ,12.5667066432rem + 13.7359778559vw ,24.9375rem)) {
    .main__baby-01 {
      width: clamp(16.6875rem ,12.5667066432rem + 13.7359778559vw ,24.9375rem)
    }
  }
  @supports not (width:clamp(16.6875rem ,12.5667066432rem + 13.7359778559vw ,24.9375rem)) {
    .main__baby-01 {
      width: calc(16.6875rem + 8.25 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (width:clamp(15.875rem ,12.2536967471rem + 12.0710108431vw ,23.125rem)) {
    .main__baby-02 {
      width: clamp(15.875rem ,12.2536967471rem + 12.0710108431vw ,23.125rem)
    }
  }
  @supports not (width:clamp(15.875rem ,12.2536967471rem + 12.0710108431vw ,23.125rem)) {
    .main__baby-02 {
      width: calc(15.875rem + 7.25 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (width:clamp(8.25rem ,6.8451840829rem + 4.6827197236vw ,11.0625rem)) {
    .card__logo {
      width: clamp(8.25rem ,6.8451840829rem + 4.6827197236vw ,11.0625rem)
    }
  }
  @supports not (width:clamp(8.25rem ,6.8451840829rem + 4.6827197236vw ,11.0625rem)) {
    .card__logo {
      width: calc(8.25rem + 2.8125 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (max-width:clamp(21.875rem ,18.0663879581rem + 12.6953734729vw ,29.5rem)) {
    .card__cloud {
      max-width: clamp(21.875rem ,18.0663879581rem + 12.6953734729vw ,29.5rem)
    }
  }
  @supports not (max-width:clamp(21.875rem ,18.0663879581rem + 12.6953734729vw ,29.5rem)) {
    .card__cloud {
      max-width: calc(21.875rem + 7.625 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (max-width:clamp(16.375rem ,13.5341500343rem + 9.4694998855vw ,22.0625rem)) {
    .card__title {
      max-width: clamp(16.375rem ,13.5341500343rem + 9.4694998855vw ,22.0625rem)
    }
  }
  @supports not (max-width:clamp(16.375rem ,13.5341500343rem + 9.4694998855vw ,22.0625rem)) {
    .card__title {
      max-width: calc(16.375rem + 5.6875 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (font-size:clamp(1rem ,0.8439093425rem + 0.5203021915vw ,1.3125rem)) {
    .card__title {
      font-size: clamp(1rem ,.8439093425rem + .5203021915vw ,1.3125rem)
    }
  }
  @supports not (font-size:clamp(1rem ,0.8439093425rem + 0.5203021915vw ,1.3125rem)) {
    .card__title {
      font-size: calc(1rem + .3125 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (margin-top:clamp(-5.6875rem ,-5.312627474rem + -0.4162417532vw ,-5.4375rem)) {
    .card__main {
      margin-top: clamp(-5.6875rem ,-5.312627474rem + -.4162417532vw ,-5.4375rem)
    }
  }
  @supports not (margin-top:clamp(-5.6875rem ,-5.312627474rem + -0.4162417532vw ,-5.4375rem)) {
    .card__main {
      margin-top: calc(-5.4375rem + -.25 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (padding-top:clamp(3.5625rem ,5.7180170243rem + -2.393390081vw ,5rem)) {
    .card__main {
      padding-top: clamp(3.5625rem ,5.7180170243rem + -2.393390081vw ,5rem)
    }
  }
  @supports not (padding-top:clamp(3.5625rem ,5.7180170243rem + -2.393390081vw ,5rem)) {
    .card__main {
      padding-top: calc(5rem + -1.4375 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (font-size:clamp(0.875rem ,1.249872526rem + -0.4162417532vw ,1.125rem)) {
    .card__main .card-txt {
      font-size: clamp(.875rem ,1.249872526rem + -.4162417532vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,1.249872526rem + -0.4162417532vw ,1.125rem)) {
    .card__main .card-txt {
      font-size: calc(1.125rem + -.25 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (font-size:clamp(1.375rem ,1.562436263rem + -0.2081208766vw ,1.5rem)) {
    .card__subtitle {
      font-size: clamp(1.375rem ,1.562436263rem + -.2081208766vw ,1.5rem)
    }
  }
  @supports not (font-size:clamp(1.375rem ,1.562436263rem + -0.2081208766vw ,1.5rem)) {
    .card__subtitle {
      font-size: calc(1.5rem + -.125 * (100vw - 30rem)/ 60.06125)
    }
  }
  @supports (font-size:clamp(0.875rem ,1.249872526rem + -0.4162417532vw ,1.125rem)) {
    .card__li-txt {
      font-size: clamp(.875rem ,1.249872526rem + -.4162417532vw ,1.125rem)
    }
  }
  @supports not (font-size:clamp(0.875rem ,1.249872526rem + -0.4162417532vw ,1.125rem)) {
    .card__li-txt {
      font-size: calc(1.125rem + -.25 * (100vw - 30rem)/ 60.06125)
    }
  }
}
@media (min-width:90em) and (max-width:120em) {
  @supports (width:clamp(6.25rem ,-1.25rem + 8.3333333333vw ,8.75rem)) {
    .main__baby-think {
      width: clamp(6.25rem ,-1.25rem + 8.3333333333vw ,8.75rem)
    }
  }
  @supports not (width:clamp(6.25rem ,-1.25rem + 8.3333333333vw ,8.75rem)) {
    .main__baby-think {
      width: calc(6.25rem + 2.5 * (100vw - 90rem)/ 30)
    }
  }
}
@media (min-width:30em) and (max-width:48.06125em) {
  @supports (left:clamp(-26.875rem ,10.5455178559rem + -77.8600595197vw ,-12.8125rem)) {
    .cloud__cloud-top--01 {
      left: clamp(-26.875rem ,10.5455178559rem + -77.8600595197vw ,-12.8125rem)
    }
  }
  @supports not (left:clamp(-26.875rem ,10.5455178559rem + -77.8600595197vw ,-12.8125rem)) {
    .cloud__cloud-top--01 {
      left: calc(-12.8125rem + -14.0625 * (100vw - 30rem)/ 18.06125)
    }
  }
  @supports (right:clamp(-26.875rem ,0.5667130943rem + -57.0973769811vw ,-16.5625rem)) {
    .cloud__cloud-top--03 {
      right: clamp(-26.875rem ,.5667130943rem + -57.0973769811vw ,-16.5625rem)
    }
  }
  @supports not (right:clamp(-26.875rem ,0.5667130943rem + -57.0973769811vw ,-16.5625rem)) {
    .cloud__cloud-top--03 {
      right: calc(-16.5625rem + -10.3125 * (100vw - 30rem)/ 18.06125)
    }
  }
  @supports (width:clamp(1.25rem ,0.7309329365rem + 1.7302235449vw ,1.5625rem)) {
    .cloud__star--01 {
      width: clamp(1.25rem ,.7309329365rem + 1.7302235449vw ,1.5625rem)
    }
  }
  @supports not (width:clamp(1.25rem ,0.7309329365rem + 1.7302235449vw ,1.5625rem)) {
    .cloud__star--01 {
      width: calc(1.25rem + .3125 * (100vw - 30rem)/ 18.06125)
    }
  }
  @supports (top:clamp(-1.875rem ,8.436431587rem + -21.4547719565vw ,2rem)) {
    .cloud__sun {
      top: clamp(-1.875rem ,8.436431587rem + -21.4547719565vw ,2rem)
    }
  }
  @supports not (top:clamp(-1.875rem ,8.436431587rem + -21.4547719565vw ,2rem)) {
    .cloud__sun {
      top: calc(2rem + -3.875 * (100vw - 30rem)/ 18.06125)
    }
  }
  @supports (right:clamp(0.9375rem ,-0.1006341269rem + 3.4604470898vw ,1.5625rem)) {
    .cloud__sun {
      right: clamp(.9375rem ,-.1006341269rem + 3.4604470898vw ,1.5625rem)
    }
  }
  @supports not (right:clamp(0.9375rem ,-0.1006341269rem + 3.4604470898vw ,1.5625rem)) {
    .cloud__sun {
      right: calc(.9375rem + .625 * (100vw - 30rem)/ 18.06125)
    }
  }
  @supports (padding-left:clamp(1.625rem ,0.1716122223rem + 4.8446259257vw ,2.5rem)) {
    .card__main {
      padding-left: clamp(1.625rem ,.1716122223rem + 4.8446259257vw ,2.5rem)
    }
  }
  @supports not (padding-left:clamp(1.625rem ,0.1716122223rem + 4.8446259257vw ,2.5rem)) {
    .card__main {
      padding-left: calc(1.625rem + .875 * (100vw - 30rem)/ 18.06125)
    }
  }
  @supports (padding-right:clamp(1.625rem ,0.1716122223rem + 4.8446259257vw ,2.5rem)) {
    .card__main {
      padding-right: clamp(1.625rem ,.1716122223rem + 4.8446259257vw ,2.5rem)
    }
  }
  @supports not (padding-right:clamp(1.625rem ,0.1716122223rem + 4.8446259257vw ,2.5rem)) {
    .card__main {
      padding-right: calc(1.625rem + .875 * (100vw - 30rem)/ 18.06125)
    }
  }
}
@media (max-width:48.06125em) and (min-width:30.06125em) {
  .cloud__star--01 {
    top: 11%;
    left: 15%
  }
  .cloud__star--03 {
    top: 5%;
    left: 6%
  }
}
@media (min-width:20em) and (max-width:90.06125em) {
  @supports (min-width:clamp(17.8125rem ,14.4761336063rem + 16.6818319685vw ,29.5rem)) {
    .card {
      min-width: clamp(17.8125rem ,14.4761336063rem + 16.6818319685vw ,29.5rem)
    }
  }
  @supports not (min-width:clamp(17.8125rem ,14.4761336063rem + 16.6818319685vw ,29.5rem)) {
    .card {
      min-width: calc(17.8125rem + 11.6875 * (100vw - 20rem)/ 70.06125)
    }
  }
  @supports (max-width:clamp(21.875rem ,20.1978960374rem + 8.385519813vw ,27.75rem)) {
    .card__main {
      max-width: clamp(21.875rem ,20.1978960374rem + 8.385519813vw ,27.75rem)
    }
  }
  @supports not (max-width:clamp(21.875rem ,20.1978960374rem + 8.385519813vw ,27.75rem)) {
    .card__main {
      max-width: calc(21.875rem + 5.875 * (100vw - 20rem)/ 70.06125)
    }
  }
}
@media (min-height:68.81125em) {
  .main__body {
    align-items: center
  }
}
@media (any-hover:hover) {
  .card__link:hover {
    -webkit-transform: translateY(40%);
    transform: translateY(40%)
  }
}