@font-face {
	font-family: Marvin;
	font-display: swap;
	src: url("../fonts/Marvin-Round.woff2") format("woff2"), url("../fonts/Marvin-Round.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Marvin;
	font-display: swap;
	src: url("../fonts/Marvin-Shadow.woff2") format("woff2"), url("../fonts/Marvin-Shadow.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Marvin;
	font-display: swap;
	src: url("../fonts/Marvin.woff2") format("woff2"), url("../fonts/Marvin.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
